{#
* Copyright (C) 2024 Daniel Fernández Giménez <hola@danielfg.es>
* @author Daniel Fernández Giménez <hola@danielfg.es>
#}

{% set model = fsc.getCurrentView().model %}

<div class="container pt-3 pb-3">
    <div class="form-row d-flex align-items-center">
        <div class="col-sm">
            <h1 class="h3 m-0 p-0">
                <i class="far fa-file-powerpoint"></i>
                {{ trans('invoice') }} {{ model.codigo }}
            </h1>
        </div>

        {% for item in getIncludeViews('PortalFactura', 'buttonsBefore') %}
            {% include item['path'] %}
        {% endfor %}

        {% block buttons %}
            {% if fsc.user %}
                <div class="col-sm-auto text-right">
                    <a class="btn btn-secondary" href="{{ asset(model.url()) }}">
                        <i class="fa-solid fa-circle-info"></i>
                        {{ trans('details') }}
                    </a>
                </div>
            {% endif %}
            <div class="col-sm-auto text-right">
                <a href="{{ asset('PortalCliente') }}?activetab=ListPortalFactura" class="btn btn-secondary">
                    <i class="fas fa-list fa-fw"></i>
                    {{ trans('back') }}
                </a>
            </div>
            <div class="col-sm-auto text-right">
                <form action="{{ asset('Me') }}" method="post">
                    <button type="submit" name="action" value="logout" class="btn btn-danger"
                            title="{{ trans('logout') }}">
                        <i class="fas fa-door-open"></i>
                        {{ trans('exit') }}
                    </button>
                </form>
            </div>
        {% endblock %}

        {% for item in getIncludeViews('PortalFactura', 'buttonsAfter') %}
            {% include item['path'] %}
        {% endfor %}
    </div>
</div>